  .table_theme_dark {
    color: white;
  }
  
  .table__cell_theme_dark {
    color: white;
    margin-top: 80px;
  }
  
  .table__heading_theme_dark {
    color: white;
  }
  
  .table__text_theme_dark {
    color: white;
  }